.app-menu__list {
    display: flex;
}

.app-menu__item {
    list-style: none;
}

.app-menu__link {
    color: #ffff;
    font-family:  fantasy;
    margin-right: 1rem;
    text-decoration: none;
}

.app-menu__link:hover {
    background-color: rgb(233, 201, 59);
}